.Post {
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.Post:hover,
.Post:active {
    background-color: #e6fffb;
}

.Post:hover,
.Post.Author:active {
    color: gray;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}
